* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  min-height: 100vh;
  padding: 0.75em;
  font-family: 'Inter', sans-serif;
  transform-origin: top left;
  transform: scale(1.33);
  width: 75%;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 4.5em;
}

.nav-container {
  background-color: rgba(33, 33, 33, 0.9);
  padding: 0.19em;
  border-radius: 0.75em;
  display: flex;
  align-items: center;
  gap: 0.19em;
}

.nav-link {
  text-decoration: none;
  padding: 0.28em 0.56em;
  border-radius: 620em;
  font-size: 0.56em;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-link.active {
  background-color: #52525b;
  color: white;
}

.nav-link:not(.active) {
  color: #d1d5db;
}

.nav-link:not(.active):hover {
  background-color: #374151;
  color: white;
}

/* Projects Layout */
.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

/* Project Card */
.project-card {
  display: flex;
  gap: 2em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.project-image {
  width: 20em;
  height: 14em;
  border-radius: 1em;
  overflow: hidden;
  margin-top: -2em;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.project-details {
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 1em;
  padding: 1.5em;
  width: 18em;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -6em;
}

.project-details h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5em;
}

.project-desc {
  font-size: 0.7em;
  color: #878787;
  margin-bottom: 1em;
  line-height: 1.4;
  flex-grow: 1;
}

.project-links {
  display: flex;
  justify-content: flex-start;
  margin-left: -1.5em;
  margin-top: 1em;
  padding: 1em;
  width: 18em;
  border-radius: 1em;
  background-color: rgba(33, 33, 33, 0.9);
}

.project-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 7.2em;
}

.project-link img {
  width: 1.3em;
  height: 1.3em;
  
}

.project-link:hover {
  transform: scale(1.15);
  background-color: #60a5fa;
  fill: #60a5fa;
  border-radius: 0.5em;
}

.github-icon {
  width: 1.3em;
  height: 1.3em;
  fill: white;
  transition: fill 0.2s ease;
}

.vocalize-it:hover {
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-image,
  .project-details {
    width: 90%;
  }
}